# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

# DATABASE_URL="mongodb+srv://andreas:<password>@cluster0.im3z7wy.mongodb.net/test"
DATABASE_URL="mongodb+srv://andreas:andreas@cluster0.im3z7wy.mongodb.net/test"

NEXTAUTH_JWT_SECRET="NEXT-JWT-SECRET"
NEXTAUTH_SECRET="NEXT-SECRET"

GITHUB_ID=3784eac4fccd89e45b77
GITHUB_SECRET=252b2e4f6374e7aef4013ad1451535790557efe3

GOOGLE_CLIENT_ID=423556963541-kslbhhot47o57j88hlrue3un2gikvj6j.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=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